{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Contactos{% endblock %}

{% block main_container %}
    <div>
        <a class="btn btn-primary" href="{{ path('agenda_contacto_nuevo') }}" role="button">
            <i class="fa fa-plus"> Nuevo contacto</i>
        </a>
    </div>
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ flash_message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Operaciones</th>
                <th>ID</th>
                <th>nombre</th>
                <th>teléfono</th>
                <th>foto</th>
                <th>fecha de alta</th>
                <th>Usuario</th>
            </tr>
            {% for contacto in contactos %}
                <tr>
                    <td>
                        <a href="{{ path("agenda_contacto_editar", {id: contacto.id}) }}"><i class="fa fa-edit"> </i></a>
                        <a href="{{ path("agenda_contacto_eliminar", {id: contacto.id}) }}"><i class="fa fa-trash"> </i></a>
                    </td>
                    <td>{{ contacto.id }}</td>
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.telefono }}</td>
                    {% if contacto.foto is not null %}
                        {% set imagen = fotos_url_directory ~ contacto.foto %}
                    {% else %}
                        {% set imagen = default_foto %}
                    {% endif %}
                    <td><img width="100" src="{{ asset(imagen) }}" alt="Foto de {{ contacto.nombre }}"></td>
                    <td>{{ contacto.fechaAlta | date("d/m/Y") }}</td>
                    <td>{{ contacto.usuario.username }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
