{% extends 'base.html.twig' %}

{% block title %}Agenda de contactos{% endblock %}

        {% block stylesheets %}
            {{ parent() }}
            <link href="{{ asset('css/estilos.css') }}" rel="stylesheet">
        {% endblock %}

{% block body %}
    <header>
        <h1 class="jumbotron">Agenda de contactos</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('agenda_pages_inicio') }}">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('agenda_contacto_listar') }}">Contactos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}">Salir <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('usuario_new') }}">Registro <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}

                </ul>
                <form class="form-inline my-2 my-lg-0" method="post" action="{{ path('agenda_contacto_buscar') }}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block main_container %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Alejandro Amat - DWES 2019/2020</p>
    </footer>
{% endblock %}